
.main-see-all__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-see-all__top {
    width: 100%;
  }
  .main-see-all__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; */
    width: 100%;
    column-gap: 20px;
  }
  .custom-main-see-all__row .main-see-all__column{
    padding: 0;
  }

  .custom-main-see-all__row .casino-card__image-block{
    min-height: 126px;
    transition: 0s !important;
    /* -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s; */
  }
  .main-see-all__column {
    flex: 0 1 20%;
    margin: 0 0 40px 0;
   
  }
  @media (max-width: 1650.98px) {
    .main-see-all__row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   
    }
  }
  @media (max-width: 1300px) {
    .main-see-all__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   
    }
  }
  @media (max-width: 900px) {
    .main-see-all__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   
    }
  }
  @media (max-width: 550px) {
    .main-see-all__row {
      display: grid;
      grid-template-columns: 1fr;
   
    }
  }
  @media (max-width: 1650.98px) {
    .main-see-all__column {
      flex: 0 1 25%;
    }
  }
  @media (max-width: 1300px) {
    .main-see-all__column {
      flex: 0 1 33.333%;
    }
  }
  @media (max-width: 900px) {
    .main-see-all__column {
      flex: 0 1 50%;
      margin: 0 0 24px 0;
    }
  }

  .main-see-all__btn-more {
    margin: 0 0 22px 0;
    display: none;
    padding: 12px 14px;
    width: 102px;
  }
  @media (max-width: 768.98px) {
    .main-see-all__btn-more {
      display: flex;
    }
  }
  @media (max-width: 480.98px) {
    .main-see-all__btn-more {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .main-see-all__pagination {
    margin: 0 0 40px 0;
  }
  @media (max-width: 992.98px) {
    .main-see-all__pagination {
      margin: 0 0 24px 0;
    }
  }
  @media (max-width: 768.98px) {
    .main-see-all__pagination {
      display: none;
    }
  }
  .main-see-all .casino-card {
    position: relative;
  }

  .main-see-all .casino-card__bnt {
    top: auto;
    bottom: 8px;
  }
  


.see-all-custom__image-custom {
    overflow: hidden;
}

.see-all-custom__image-custom img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-gamble.resize .custom-main-see-all__row {
  grid-template-columns: repeat(4, 1fr);
}