@media (max-width: 650.98px) {
    .subscribe {
        position: relative;
        overflow: hidden;
    }

    .subscribe::before {
        position: absolute;
        content: "";
        width: 111.88px;
        height: 505.44px;
        -moz-transform: rotate(-111deg);
        -ms-transform: rotate(-111deg);
        -webkit-transform: rotate(-111deg);
        -o-transform: rotate(-111deg);
        transform: rotate(-111deg);
        /* background: radial-gradient(37.06% 39.78% at 50% 50%, rgba(52, 229, 155, 0.94) 0%, rgba(255, 255, 255, 0) 100%); */
        bottom: -270px;
        right: 350px;
        border-radius: 100%;
        pointer-events: none;
        /* filter: blur(140px);
    -webkit-filter: blur(140px); */
        z-index: 1;
    }

    .subscribe::after {
        position: absolute;
        content: "";
        width: 136.31px;
        height: 319.1px;
        -moz-transform: rotate(-16.3deg);
        -ms-transform: rotate(-16.3deg);
        -webkit-transform: rotate(-16.3deg);
        -o-transform: rotate(-16.3deg);
        transform: rotate(-16.3deg);
        /* background: radial-gradient(43.45% 46.62% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
        top: -100px;
        right: -80px;
        pointer-events: none;
        /* filter: blur(168px);
    -webkit-filter: blur(168px); */
        z-index: 1;
    }
}

/* @media (max-width: 650.98px) {
  .subscribe__container {
    padding: 0;
  }
} */
.subscribe__body {
    position: relative;
    padding: 0 240px 0 150px;
    border-radius: var(--SystemCorners-Medium, 12px);
    overflow: hidden;
}

@media (max-width: 1650.98px) {
    .subscribe__body {
        padding: 0;
    }
}

/* @media (max-width: 650.98px) {
  .subscribe__body {
    background: #1E1E1E;
    border-radius: 0;
  }
} */
.subscribe__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subscribe__bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribe__bg img:last-child {
    display: none;
}

@media (max-width: 650.98px) {

    /* .subscribe__bg {
    display: none;
  } */
    .subscribe__bg img:first-child {
        display: none;
    }

    .subscribe__bg img:last-child {
        display: block;
    }
}

.subscribe__row {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1650.98px) {
    .subscribe__row {
        flex-direction: column;
        height: auto;
        padding: 40px;
    }
}

@media (max-width: 768.98px) {
    .subscribe__row {
        padding: 32px;
    }
}

@media (max-width: 650.98px) {
    .subscribe__row {
        padding: 24px 16px 16px 16px;
        align-items: flex-start;
    }
}

.subscribe__column {
    position: relative;
    display: flex;
    align-items: center;
}

.subscribe__column:last-child {
    margin: 0 0 0 50px;
    flex: 0 0 527px;
}

@media (max-width: 1650.98px) {
    .subscribe__column:last-child {
        flex: auto;
        margin: 40px 0 0 0;
        width: 527px;
    }
}

@media (max-width: 768.98px) {
    .subscribe__column:last-child {
        margin: 32px 0 0 0;
        width: 100%;
    }
}

@media (max-width: 650.98px) {
    .subscribe__column:last-child {
        margin: 24px 0 0 0;
    }
}

@media (max-width: 1650.98px) {
    .subscribe__column {
        align-items: flex-start;
    }
}

.subscribe__logo {
    flex: 0 0 110px;
    width: 110px;
    margin: 0 40px 0 0;
}

.subscribe__logo img {
    max-width: 100%;
}

@media (max-width: 1650.98px) {
    .subscribe__logo {
        flex: 0 0 72px;
        width: 72px;
        height: 72px;
        margin: 0 24px 0 0;
    }
}

@media (max-width: 768.98px) {
    .subscribe__logo {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 650.98px) {
    .subscribe__logo {
        /* display: none; */
        flex: 0 0 52px;
        width: 52px;
        height: 52px;
    }
}

@media (max-width: 450px) {
    .subscribe__logo {
        position: absolute;
        left: 0;
        top: 5px;
    }
}

.subscribe__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 32px;
    color: var(--Text-Txt_Main, #FFFFFF);
}

.subscribe__title:not(:last-child) {
    margin: 0 0 20px 0;
}

.subscribe__title span {
    color: var(--Colors-Accent, #FFCF23);
}

@media (max-width: 768.98px) {
    .subscribe__title {
        font-size: 36px;
    }

    .subscribe__title:not(:last-child) {
        margin: 0 0 12px 0;
    }
}

@media (max-width: 650.98px) {
    .subscribe__title {
        font-size: 26px;
        line-height: 31.2px;
    }

    /* .subscribe__title span {
    color: var(--Text-Txt_Main, #FFFFFF);
  } */
    .subscribe__title:not(:last-child) {
        margin: 0 0 16px 0;
    }
}

@media (max-width: 450px) {
    .subscribe__title {
        padding: 0 0 0 68px;
    }
}

.subscribe__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: var(--Text-Txt_Main, #FFFFFF);
}

.subscribe__text p:not(:last-child) {
    margin: 0 0 24px 0;
}

@media (max-width: 650.98px) {
    .subscribe__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: var(--Text-Txt_Main, #FFFFFF);
    }
}

@media (max-width: 480.98px) {
    .subscribe__text p:not(:last-child) {
        margin: 0 0 16px 0;
    }
}

.form-subscribe {
    width: 100%;
}

@media (max-width: 650.98px) {
    .form-subscribe {
        padding: 0 0 68px 0;
        position: relative;
    }
}

.form-subscribe__row {
    display: flex;
    align-items: center;
}

.form-subscribe__row:not(:last-child) {
    margin: 0 0 20px 0;
}

@media (max-width: 650.98px) {
    .form-subscribe__row:not(:last-child) {
        padding: 0 0 24px 0;
    }
}

.form-subscribe__item {
    flex: 1 1 100%;
}

.form-subscribe__item:not(:last-child) {
    margin: 0 12px 0 0;
}

@media (max-width: 650.98px) {
    .form-subscribe__item:not(:last-child) {
        margin: 0 0 0 0;
    }
}

.form-subscribe__btn {
    flex: 0 0 132px;
    height: 42px;
    border-radius: var(--SystemCorners-Small, 8px);
    background: var(--Colors-Accent, #FFCF23);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 750;
    line-height: 22px;
    color: #111111;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.form-subscribe__btn::before {
    display: none;
    content: "";
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    background: url("/img/icons/fiesta.png") center no-repeat;
    background-size: cover;
    margin: 0 5px 0 0;
}

.form-subscribe__btn:active {
    background: #BF9B1A;
}

@media (min-width: 1355.98px) {
    .form-subscribe__btn:hover {
        background: linear-gradient(180deg, #FFE141 0%, #FD9800 100%), var(--Colors-Accent, #FFCF23);
        box-shadow: 0px -4px 8px 0px rgba(255, 255, 255, 0.2) inset;
    }
}

@media (max-width: 650.98px) {
    .form-subscribe__btn {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 44px;
        flex: auto;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .form-subscribe__btn.active {
        flex: auto;
    }
}

.form-subscribe__checkbox-input {
    display: none;
}

.form-subscribe__checkbox-input:checked+.form-subscribe__checkbox-label::after {
    opacity: 1;
    visibility: visible;
}

.form-subscribe__checkbox-label {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 17.76px;
    color: var(--Text-Txt_Main, #FFFFFF);
    position: relative;
    padding: 0 0 0 26px;
}

@media (max-width: 650.98px) {
    .form-subscribe__checkbox-label {
        font-size: 11px;
        line-height: 16px;
    }
}

.form-subscribe__checkbox-label span {
    display: block;
}

.form-subscribe__checkbox-label a {
    color: #F3DE38;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.form-subscribe__checkbox-label a:active {
    color: #BF9B1A;
}

@media (min-width: 1355.98px) {
    .form-subscribe__checkbox-label a:hover {
        color: #FFDB5A;
    }
}

.form-subscribe__checkbox-label::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    top: -1px;
    border-radius: 4px;
    overflow: hidden;
    background: var(--BG-Bg_2, #232320);
    border: 1px solid transparent;
    opacity: 0.5;
}

.form-subscribe__checkbox-label.active::before {
    border: 1px solid var(--Colors-Red, #FF3232);
}

/* @media (max-width: 650.98px) {
  .form-subscribe__checkbox-label::before {
    opacity: 1;
    border: 1px solid var(--BG-Bg_3, #2C2C28);
  }
} */
.form-subscribe__checkbox-label::after {
    content: "";
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--Colors-Accent, #FFCF23);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: url("/img/icons/check.svg") center no-repeat;
    position: absolute;
    left: 0;
    top: -1px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.item-form-subscribe {
    height: 42px;
    background: rgba(35, 35, 32, 0.5019607843);
    border: 1px solid transparent;
}

.item-form-subscribe.confirmed {
    border: 1px solid var(--Colors-Grass, #ACE54E);
}

.item-form-subscribe.confirmed .form-item__icon_confired {
    opacity: 1;
    visibility: visible;
}

.item-form-subscribe.confirmed .item-form-subscribe__icon_delete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.item-form-subscribe.error {
    border: 1px solid var(--Colors-Red, #FF3232);
}

.item-form-subscribe.error .form-item__icon_error {
    opacity: 1;
    visibility: visible;
}

.item-form-subscribe.error .item-form-subscribe__icon_delete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 650.98px) {
    .item-form-subscribe {
        height: 44px;
        /* background: var(--BG-Bg_2, #232320);
    border: 1px solid var(--BG-Bg_3, #2C2C28); */
    }
}

.item-form-subscribe__icon {
    flex: 0 0 16px;
    width: 16px;
    height: 13px;
    left: 12px;
    z-index: 1;
    transform: translate(0, 0.5px);
}

.item-form-subscribe__icon svg {
    width: 100%;
    height: 100%;
    fill: var(--Colors-Accent, #FFCF23);
}

/* @media (max-width: 650.98px) {
  .item-form-subscribe__icon svg {
    fill: var(--Text-Txt_Sec, rgba(255, 255, 255, 0.5019607843));
  }
} */
.item-form-subscribe__icon_delete {
    right: 12px;
}

.item-form-subscribe__input {
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: var(--Text-Txt_Main, #FFFFFF);
    padding: 0 40px 0 35px;
}

.item-form-subscribe__input::placeholder {
    color: var(--Text-Txt_Sec, rgba(255, 255, 255, 0.5019607843));
}

@media (max-width: 650.98px) {
    .item-form-subscribe__input {
        font-size: 14px;
        line-height: 18px;
    }
}

.form-item__icon_confired {
    right: 12px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-item__icon_error {
    right: 12px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}