.item-loyaltie-programs__image-custom {
    overflow: hidden;
    position: relative;
}

.item-loyaltie-programs__image-custom img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}