.simple-bonus__casino-person:not(:last-child) {
  margin: 0 0 60px 0;
}

@media (max-width: 650.98px) {
  .simple-bonus__casino-person:not(:last-child) {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 650.98px) {
  .simple-bonus__casino-person_desktop {
    display: none;
  }
}

@media (min-width: 650.98px) {
  .simple-bonus__casino-person_mobile {
    display: none;
  }
}




.casino-person__body {
  padding: 24px;
  background: var(--BG-Bg_1, #171719);
  border-radius: var(--SystemCorners-Medium, 12px);
  overflow: hidden;
  background: url("/img/bg-3.jpg") center repeat;
  background-size: 100%;
  position: relative;
}

.casino-person__body::before {
  display: none;
  position: absolute;
  content: "";
  width: 669.65px;
  height: 186.16px;
  -moz-transform: rotate(-137.1deg);
  -ms-transform: rotate(-137.1deg);
  -webkit-transform: rotate(-137.1deg);
  -o-transform: rotate(-137.1deg);
  transform: rotate(-137.1deg);
  background: radial-gradient(43.45% 46.62% at 50% 50%, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%);
  left: -215px;
  top: -345px;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(200px);
  -webkit-filter: blur(200px);
}

@media (max-width: 992.98px) {
  .casino-person__body::before {
    display: none;
  }
}

.casino-person__body::after {
  position: absolute;
  content: "";
  display: none;
  width: 162.77px;
  height: 900.03px;
  -moz-transform: rotate(-95.04deg);
  -ms-transform: rotate(-95.04deg);
  -webkit-transform: rotate(-95.04deg);
  -o-transform: rotate(-95.04deg);
  transform: rotate(-95.04deg);
  background: radial-gradient(43.45% 46.62% at 50% 50%, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%);
  top: -160px;
  right: 70px;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(168px);
  -webkit-filter: blur(168px);
}

@media (max-width: 992.98px) {
  .casino-person__body::after {
    display: none;
  }
}

@media (max-width: 992.98px) {
  .casino-person__body {
    background: url("/img/bg/09.jpg") center no-repeat;
    background-size: cover;
  }
}

.casino-person__row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 992.98px) {
  .casino-person__row {
    flex-direction: column;
    padding: 0 12px;
  }
}

.casino-person__info {
  margin: 0 50px;
}

@media (max-width: 1425.98px) {
  .casino-person__info {
    margin: 0 35px;
  }
}

@media (max-width: 992.98px) {
  .casino-person__info {
    margin: 0 0 24px 0;
  }
}

.casino-person__socials {
  margin: 0 50px;
}

.casino-person__socials .socials-top-footer__item {
  margin-bottom: 0;
}

.casino-person__socials .socials-top-footer__link {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
}

@media (max-width: 992.98px) {
  .casino-person__socials .socials-top-footer__link {
    border-radius: 50%;
    background: rgba(23, 23, 25, 0.5019607843);
    border: 0;
  }

  .casino-person__socials .socials-top-footer__link svg {
    fill: #fff;
  }
}

@media (max-width: 1425.98px) {
  .casino-person__socials {
    margin: 0 35px;
  }
}

@media (max-width: 992.98px) {
  .casino-person__socials {
    margin: 0;
  }
}

@media (max-width: 992.98px) {
  .casino-person__waves {
    width: 321px;
    height: 321px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 3px));
  }

  .casino-person__waves span {
    position: absolute;
    background: linear-gradient(180deg, #FFE278 0%, rgba(255, 255, 255, 0.2) 100%, rgba(255, 227, 125, 0.2) 100%);
    border-radius: 50%;
    overflow: auto;
    opacity: 0.1;
  }

  .casino-person__waves span:nth-child(1) {
    width: 100%;
    height: 100%;
  }

  .casino-person__waves span:nth-child(2) {
    width: 78.97%;
    height: 78.97%;
  }

  .casino-person__waves span:nth-child(3) {
    width: 56.29%;
    height: 56.29%;
  }
}

.info-casino-person {
  display: flex;
}

@media (max-width: 992.98px) {
  .info-casino-person {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.info-casino-person__img {
  flex: 0 0 95px;
  width: 95px;
  height: 95px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 24px 0 0;
}

.info-casino-person__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 992.98px) {
  .info-casino-person__img {
    border: 1px solid var(--Colors-Yellow, #FFCF23);
    margin: 0 0 24px 0;
  }
}

.info-casino-person__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-casino-person__name {
  color: var(--Text-Txt_Main, #FFFFFF);
}

.info-casino-person__name:not(:last-child) {
  margin: 0 0 3.12px 0;
}

@media (max-width: 992.98px) {
  .info-casino-person__name:not(:last-child) {
    margin: 0 0 12px 0;
  }
}

.info-casino-person__position {
  font-size: 18px;
  font-weight: 600;
  line-height: 133.3333333333%;
  color: var(--Text-Txt_Sec, rgba(255, 255, 255, 0.5019607843));
}

@media (max-width: 650.98px) {
  .info-casino-person__position {
    font-size: 12px;
    line-height: 14.4px;
  }
}